;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "0.8.1"]]

 :builds
 {:app
  {:target :browser
   :output-dir "public/js/dist"
   :asset-path "js/dist"
   :modules {:app {:entries [cljs-football.core]}}
   :devtools {:before-load cljs-football.core/stop
              :after-load cljs-football.core/start
              :http-root "public"
              :http-port 7777}}}
 }
